## Set in Python

#### Set is the collection of the unordered items.

#### Each element in the set must be unique & immutable.

In [5]:
nums = { 1, 2, 3, 4 }

set2 = { 1, 2, 2, 2 }
print(set2)
#repeated elements store once, so it resolved to {1, 2}

{1, 2}
set()

#### how to create empty set

In [ ]:
null_set = set( ) #empty set syntax
print(null_set)

### Length of set

In [1]:
collection ={1,2,2,2,"Hello","World","Python"}
print(collection)
print(len(collection))

{1, 'Hello', 2, 'Python', 'World'}
5

## Set methods

### .add() method

In [15]:
collection = set()
collection.add(1)
collection.add(2)
collection.add("Siddharth")
collection.add((1,2,3))

# collection.add([1,2,3]) #Error - Unhashable list
print(collection)
print(len(collection))

{1, 2, (1, 2, 3), 'Siddharth'}
4

## .remove() method

In [16]:
collection.remove(1) #removes specific value
collection.remove(7) # key error

{(1, 2, 3), 2, 'Siddharth'}

### .clear() method

In [17]:
collection.clear() # empty the set 
print(len(collection))

0

### .pop() method

In [21]:
collection = {"hello", "apnacollege", "world", "coding", "python"}

print(collection.pop()) # removes an element chosen arbitrarily by the Python interpreter; there's no guarantee which specific element will be removed.
print(collection.pop())

hello
world

### .union() method

In [25]:
# union combines both set values & returns new


set1 = {1,2,3}
set2 = {2,3,4}
print(set1.union(set2))

{1, 2, 3, 4}

### .intersection() method

In [27]:
#  intersection combines common values & returns new
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [29]:
#Practice Questions 

#Store following word meanings in a python dictionary :



#"table" :  "a piece of furniture", "list of facts & figures"
#"cat" : "a small animal"

dict = {
    "cat" : "a small animal",
    "table" :  ["a piece of furniture", "list of facts & figures"]
}

print(dict)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts & figures']}

In [38]:
#You are given a list of subjects for students. Assume one classroom is required for 1
#subject. How many classrooms are needed by all students.

# 'python','java','C++','python','java script','java','python','java','C++','C' 

classroom_req = {'python','java','C++','python','javascript','java','python','java','C++','C' }

print(len(a))

5

In [41]:
# WAP to enter marks of 3 subjects from the user and store them in a dictionary. Start with
# an empty dictionary & add one by one. Use subject name as key & marks as value.


marks = {}

x = int(input("Enter Physics Marks : "))
marks.update({"Physics" : x})

y = int(input("Enter Chemistry Marks : "))
marks.update({"Chemistry" : x})
        
z = int(input("Enter Maths Marks : "))
marks.update({"Maths" : y})

print(marks)

Enter Physics Marks :  84
Enter Chemistry Marks :  47
Enter Maths Marks :  80

{'Physics': 84, 'Chemistry': 84, 'Maths': 47}

In [48]:
# Figure out a way to store 9 & 9.0 as separate values in the set.

values = {
    ("float",9.0),
    ("int", 9)
}
print(values)

{('int', 9), ('float', 9.0)}